<style>
	.circle {
        background: none repeat scroll 0 0 #191919;
        border-radius: 50px;
        height: 50px;
        padding: 10px;
        width: 50px;
        color: #fff;
    }
    .padding-top-double {
        padding-top: 20px;
    }

</style>
{{dump .}}
{{#if ingredients_ingredients}}
	<h3>Hardware Requirements</h3>
	<div>
	{{#itr ingredients_ingredients}}
        <span class="fw-stack fw-lg margin-right">
            <i class="fw fw-ring fw-stack-2x"> </i>
            <i class="fw fw-right-arrow fw-stack-1x"></i>
        </span>{{value}}<br/>
	{{/itr}}
	</div>
{{/if}}