{{#zone "brand"}}
    <img src="{{self.publicURL}}/img/logo.png" /><h2 class="app-title" style="text-transform:none !important"><span>IoT Device Manager</span></h2>
{{/zone}}
{{#zone "favicon"}}
    <link rel="icon" href="{{self.publicURL}}/img/favicon.png" type="image/x-icon" />
{{/zone}}

