{{#zone "main"}}
    <br/>
    <div id="ast-container" class="ast-container">
        {{! All "Device Types" registered in CDMF will be listed here. please refer: public/js/store-listing.js }}
    </div>
{{/zone}}

{{#zone "bottomJs"}}
    <script id="store-listing" src="{{self.publicURL}}/templates/store-listing.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/store-listing.js"></script>
{{/zone}}
