{{#each groups}}
	{{groupMap this}}
	<br/>
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <label class="device-id device-select">
				{{#if name}}
                    {{name}} Devices
				{{else}}
                    Ungrouped Devices
				{{/if}}
            </label>
        </div>
    </div>
    <hr/>
    <div id="ast-container-{{id}}" class="ast-container">
    </div>
{{/each}}

