{{#zone "main"}}
    <!-- dashboard -->
    <div class="container-fluid wr-content-alt">
        <div class="row wr-stats-board">

            <div class="col-md-4">
                <div class="wr-stats-board-tile">
                    <div class="tile-name">Devices</div>
                    <div>
                        <div class="tile-icon"><i class="fw fw-devices"></i></div>
                        <div class="tile-stats">
                            <span id="device-count">Loading...</span>
                            <span class="tile-stats-free">
                                <a href="devices/">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {{#if permissions.ADD_USER}}
            <div class="col-md-4">
                <div class="wr-stats-board-tile">
                    <div class="tile-name">Users</div>
                    <div>
                        <div class="tile-icon"><i class="fw fw-user"></i></div>
                        <div class="tile-stats">
                            <span id="user-count">Loading...</span>
                            <span class="tile-stats-free">
                                <a href="users/">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                <a href="user-create.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-add fw-stack-1x"></i>
                                    </span>
                                    Add
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="col-md-4">
                <div class="wr-stats-board-tile">
                    <div class="tile-name">Policies</div>
                    <div>
                        <div class="tile-icon"><i class="fw fw-policy"></i></div>
                        <div class="tile-stats">
                            <span id="policy-count">Loading...</span>
                            <span class="tile-stats-free">
                                <a href="policies.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                <a href="policy-create-wizard.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-add fw-stack-1x"></i>
                                    </span>
                                    Add
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /dashboard -->
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/dashboard.js"></script>
{{/zone}}