<div style="padding: 15px;">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th width="20%">Time</th>
            <th width="20%">Device</th>
            <th>Activity</th>
        </tr>
        </thead>
        <tbody>
		{{#each data}}
            <tr>
                <td width="20%" class="formatDate">{{time}}</td>
                <td width="20%">{{deviceName}}</td>
                <td>{{activity}}</td>
            </tr>
		{{/each}}
        </tbody>
    </table>
</div>