{{#zone "main"}}
    <div class="row">
        <div class="col-md-12">
            <div class="hidden wr-steps">
                <div class="col-md-3 col-xs-3">
                    <div class="itm-wiz itm-wiz-current" data-step="policy-platform"><div class="wiz-no">1</div><div class="wiz-lbl hidden-xs"><span>Select Platform</span></div></div>
                    <br class="c-both" />
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="itm-wiz" data-step="policy-profile"><div class="wiz-no">2</div><div class="wiz-lbl hidden-xs"><span>Configure Profile</span></div></div>
                    <br class="c-both" />
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="itm-wiz" data-step="policy-criteria"><div class="wiz-no">3</div><div class="wiz-lbl hidden-xs"><span>Assign to a group</span></div></div>
                    <br class="c-both" />
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="itm-wiz" data-step="policy-content"><div class="wiz-no">4</div><div class="wiz-lbl hidden-xs"><span>Publish</span></div></div>
                    <br class="c-both" />
                </div>
            </div>
            <div class="container col-centered wr-content policy-message hidden">

                <div class="wr-form">

                    <h1 class="wr-title">Policy creation is successful</h1>
                    Please click <b>"Finish"</b> to complete the process and go back to the policy list
                    <hr />
                    <button class="wr-btn wizard-stepper" data-current="policy-message" data-direct="/mdm/policies/" onclick="window.location.href=''">
                        &nbsp;&nbsp;&nbsp;&nbsp;Finish&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>

                </div>

            </div>
            <div class="container col-centered wr-content policy-content hidden">

                <div class="wr-form">

                    <h1 class="page-sub-title">Add Policy</h1>

                    <div class="row wr-wizard"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <label class="wr-input-label" title="">
                                    Set a Name to Your Policy
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <input id="policy-name-input"  type="text" value="" placeholder="input text"/>
                                    </div>
                                    <br class="c-both" />
                                </div>

                                <label class="wr-input-label" title="">
                                    Set Description
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <textarea id="policy-description-input" placeholder="description"></textarea>
                                    </div>
                                    <br class="c-both" />
                                </div>
                            </div>
                            <div class="wr-input-control wr-btn-grp">
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-content" data-back="true" data-next="policy-criteria">Back</a>
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-content" data-next="policy-message">Save</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container col-centered wr-content policy-criteria hidden">

                <div class="wr-form">

                    <h1 class="page-sub-title">Add Policy</h1>

                    <div class="row wr-wizard"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <label class="wr-input-label" title="">
                                    Set Device Ownership Type
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <select id="ownership-input" class="form-control">
                                            <option>COPE</option>
                                            <option>BYOD</option>
                                        </select>
                                    </div>
                                    <br class="c-both" />
                                </div>
                                <div class="wr-input-control">
                                    <label class="wr-input-control radio light" rel="assetfilter">
                                        <input id="userRadio" type="radio" name="user-select" value="userSelectField" class="user-select-radio" />
                                        <span class="helper">User</span>
                                    </label>
                                    <label class="wr-input-control radio light">
                                        <input id="userRoleRadio" type="radio" name="user-select" value="userRoleSelectField" class="user-select-radio" />
                                        <span class="helper">User Role</span>
                                    </label>
                                </div>

                                <div id="userSelectField" class="user-select">
                                    <label class="wr-input-label" title="">
                                        Set User(s)
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                    </label>
                                    <div class="wr-input-control">
                                        <div class="cus-col-50">
                                            <select id="users-input" class="form-control select2" multiple="multiple">
                                                {{#each users}}
                                                    <option>{{username}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <br class="c-both" />
                                    </div>
                                </div>

                                <div id="userRoleSelectField" class="user-select" style="display:none">
                                    <label class="wr-input-label" title="">
                                        Set User Role(s)
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                    </label>
                                    <div class="wr-input-control">
                                        <div class="cus-col-50">
                                            <select id="user-roles-input"  class="form-control select2" multiple="multiple">
                                                {{#each roles}}
                                                    <option>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <br class="c-both" />
                                    </div>
                                </div>

                                <label class="wr-input-label" title="">
                                    Set Action upon Non-compliance
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <select id="action-input" class="form-control">
                                            <option data-action="enforce">Enforce</option>
                                            <option data-action="warn">Warn</option>
                                            <option data-action="monitor">Monitor</option>
                                        </select>
                                    </div>
                                    <br class="c-both" />
                                </div>
                            </div>
                            <div class="wr-input-control wr-btn-grp">
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-criteria" data-back="true" data-next="policy-profile">Back</a>
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-criteria" data-next="policy-content">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-centered wr-content policy-profile hidden">

                <div class="wr-form">

                    <h1 class="page-sub-title">Add Policy</h1>

                    <div class="row wr-wizard"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wr-advance-operations">
                                <label class="wr-input-label col-sm-4" for="maxFailedAttempts">Policy</label>
                                <div class="wr-input-control">
                                    <input type="text" class="form-control" id="policyDefinition" data-key="policyDefinition" placeholder="Enter the policy">
                                </div>
                            </div>
                            <div class="wr-input-control wr-btn-grp">
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-profile" data-back="true" data-next="policy-platform">Back</a>
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-profile" data-next="policy-criteria">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-centered wr-content policy-platform">

                <div class="wr-form">

                    <h1 class="page-sub-title">Add Policy</h1>

                    <div class="row wr-wizard">
                        <div class="col-md-3 col-xs-3">
                            <div class="itm-wiz itm-wiz-current" data-step="policy-platform"><div class="wiz-no">1</div><div class="wiz-lbl hidden-xs"><span>Select Platform</span></div></div>
                            <br class="c-both" />
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="itm-wiz" data-step="policy-profile"><div class="wiz-no">2</div><div class="wiz-lbl hidden-xs"><span>Configure Profile</span></div></div>
                            <br class="c-both" />
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="itm-wiz" data-step="policy-criteria"><div class="wiz-no">3</div><div class="wiz-lbl hidden-xs"><span>Assign to a group</span></div></div>
                            <br class="c-both" />
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="itm-wiz" data-step="policy-content"><div class="wiz-no">4</div><div class="wiz-lbl hidden-xs"><span>Publish</span></div></div>
                            <br class="c-both" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row wr-tile-buttons-list">
                                <div class="wr-input-control">
                                    <ul class="tile-buttons row">
                                        <li class="col-lg-4"><a href="#" class="wizard-stepper" data-current="policy-platform" data-next="policy-profile" data-platform="android" data-platform-id="1"><i class="fw fw-android"></i>Android</a></li>
                                        <li class="col-lg-4"><a href="#" class="wizard-stepper" data-current="policy-platform" data-next="policy-profile" data-platform="ios" data-platform-id="2"><i class="fw fw-apple"></i>iOS</a></li>
                                        <li class="col-lg-4"><a href="#" class="wizard-stepper" data-current="policy-platform" data-next="policy-profile" data-platform="windows" data-platform-id="3"><i class="fw fw-windows"></i>Windows</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- content -->
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/policy-create.js"></script>
{{/zone}}