<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.wso2.mdm.agent"
          android:sharedUserId="org.wso2.mdm.agent"
          android:sharedUserLabel="@string/hello_world"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <permission
            android:name="org.wso2.mdm.agent.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="org.wso2.mdm.agent.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS">
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TopBarTheme">
        <activity
                android:name="org.wso2.mdm.agent.RegistrationActivity"
                android:screenOrientation="portrait"
                android:theme="@style/TopBarTheme">
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.DisplayDeviceInfoActivity"
                android:label="@string/title_activity_display_device_info"
                android:screenOrientation="portrait">
        </activity>

        <receiver
                android:name="com.google.android.gcm.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="org.wso2.mdm.agent"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="org.wso2.mdm.agent.services.AgentDeviceAdminReceiver"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>

                <!-- This action is required -->
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.device_admin"
                    android:resource="@xml/agent_device_admin">
            </meta-data>
        </receiver>
        <receiver android:name="org.wso2.mdm.agent.services.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.wso2.mdm.agent.services.AlarmReceiver"/>
        <receiver
                android:name="org.wso2.mdm.agent.services.DeviceStartupIntentReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service android:name="org.wso2.mdm.agent.GCMIntentService"/>

        <activity
                android:name="org.wso2.mdm.agent.AlreadyRegisteredActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Sherlock">
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.AuthenticationActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Sherlock"
                android:windowSoftInputMode="stateUnchanged|adjustPan">
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.AuthenticationErrorActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.NotifyActivity"
                android:label="@string/title_activity_notify"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.ServerDetails"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateUnchanged|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.PinCodeActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateUnchanged|adjustPan">
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.Notification"
                android:label="@string/title_activity_notification"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="org.wso2.mdm.agent.AlertActivity"
                android:label="@string/title_activity_alert"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
