<module name="apimstore" namespace="ns" expose="true" xmlns="http://wso2.org/projects/jaggery/module.xml">
    <hostObject>
        <className>org.wso2.carbon.apimgt.hostobjects.APIStoreHostObject</className>
        <name>APIStore</name>
    </hostObject>
    <hostObject>
        <className>org.wso2.carbon.apimgt.hostobjects.MutualAuthHostObject</className>
        <name>MutualAuthHostObject</name>
    </hostObject>
</module>
