{{#zone "main"}}
    <div class="row wr-operations-board">
        <div class="wr-secondary-bar">

            <div class="wr-filters col-xs-12 col-sm-7 col-md-8">
                <!-- asset filter -->
                <div class="wr-search">
                    <div class="wr-asset-type-switcher">
                        <a href="javascript:void(0)" class="ctrl-asset-type-switcher"><span class="btn-asset"><i class="fw fw-filter"></i></span></a>
                        <div class="popover menu fade bottom in">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div id="advance-filter-options">
                                    <div class="title">Search method</div>
                                    <label class="wr-input-control radio light">
                                        <input type="radio" name="search-method" data-type="devices" value="devices" checked />
                                        <span class="helper">Device</span>
                                    </label>
                                    <label class="wr-input-control radio light">
                                        <input type="radio" name="search-method" data-type="users" value="users" />
                                        <span class="helper">User</span>
                                    </label>
                                    <label class="wr-input-control radio light">
                                        <input type="radio" name="search-method" data-type="user-roles" value="user roles" />
                                        <span class="helper">Role</span>
                                    </label>
                                </div>
                                <div id="device-filter-options">
                                    <div id="asset-selected"></div>
                                    <div id="asset-select">
                                        <ul>

                                            <!-- Android -->
                                            <li data-type="android"><i class="fw fw-android"></i><span class="tag-name">Android</span></li>
                                            <!--<ul>-->
                                                <!--<li><h4>Android</h4><h6 class="tag-name">Ice Cream Sandwich</h6></li>-->
                                                <!--<ul>-->
                                                    <!--<li><h3 class="tag-name">3.0</h3></li>-->
                                                    <!--<li><h3 class="tag-name">3.0.1</h3></li>-->
                                                <!--</ul>-->

                                                <!--<li><h4>Android</h4><h6 class="tag-name">Jelly Bean</h6></li>-->
                                                <!--<ul>-->
                                                    <!--<li><h3 class="tag-name">4.2</h3></li>-->
                                                    <!--<li><h3 class="tag-name">4.3</h3></li>-->
                                                <!--</ul>-->

                                                <!--<li><h4>Android</h4><h6 class="tag-name">KitKat</h6></li>-->
                                                <!--<ul>-->
                                                    <!--<li><h3 class="tag-name">4.4</h3></li>-->
                                                <!--</ul>-->

                                                <!--<li><h4>Android</h4><h6 class="tag-name">Lollipop</h6></li>-->
                                                <!--<ul>-->
                                                    <!--<li><h3 class="tag-name">5.0</h3></li>-->
                                                    <!--<li><h3 class="tag-name">5.0.1</h3></li>-->
                                                    <!--<li><h3 class="tag-name">5.0.2</h3></li>-->
                                                <!--</ul>-->
                                            <!--</ul>-->

                                            <!-- iOS -->
                                            <li data-type="ios"><i class="fw fw-apple"></i><span class="tag-name">iOS</span></li>

                                            <!-- Windows -->
                                            <!--<li><i class="fw fw-windows"></i><span class="tag-name">Windows</span></li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wr-search-tags"></div>
                    <a href="#" class="btn-search"><i class="fw fw-search"></i></a>
                    <div class="input" id="search" data-value="" data-placeholder="Search devices ..." contenteditable="true"></div>
                    <div class="clearfix"></div>
                </div>
                <!-- /asset filter -->
            </div>

            <div class="wr-filters col-xs-12 col-sm-5 col-md-4 wr-filters-right">
                <div class="wr-filter-sort pull-right">
                    <a href="javascript:void(0)" onclick="selectAllDevices(this)" class="wr-btn">Select All Devices</a>
                    <a href="javascript:void(0)" onclick="changeDeviceView('grid', this)" class="ico-filter ctrl-filter-grid view-toggle"><i class="fw fw-grid"></i></a>
                    <a href="javascript:void(0)" onclick="changeDeviceView('list', this)" class="ico-filter ctrl-filter-list view-toggle selected"><i class="fw fw-list"></i></a>
                    <span class="wr-filter-type-switcher"><a href="#" class="ico-filter ctrl-filter-type-switcher" data-placement="bottom" data-trigger="focus"><i class="fw fw-list-sort"></i></a></span>
                </div>
            </div>

        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/extended-search-box.js"></script>
{{/zone}}