#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 120px;
}

#tool_box {
    z-index: 10000;
    position: absolute;
    left: 50px;
    top: 10px;
}

#bottomBox {
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

.datetimeControl p {
    margin: 0;
    font-size: 16px;
}