{{#zone "main"}}
    <div class="container container-bg white-bg">
        <div data-type="login">
            <div class="container padding margin-top-double ">
            <form method="POST" class="form-login-box" action="{{loginPath}}">
                <h1 class="grey">Login </h1> <hr>

                <div class="col-lg-3 padding ">
                    Username :<br> <input name="username" class="light-grey" type="text" value=""
                    placeholder=""/>
                </div>
                <div class="col-lg-3 padding ">
                    Password: <br> <input name="password" class="light-grey" type="password"
                    value="" placeholder=""/>
                </div>
                <div class="col-lg-6 padding-top-double padding-bottom-double padding-left-none">
                    <button class="blue-action-btn uppercase margin" onclick="document.location.href='home.html';"> Login</button>
                    <button class="black-btn uppercase margin" onclick="javascript:window
                    .location='/iot'" >
                    Cancel</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{{/zone}}