{{#zone "footer"}}
    <footer class="footer">
        <p>
            WSO2 IoT Server v.1.0.0 | &copy; <script>document.write(new Date().getFullYear());</script> <a href="http://wso2.com/" target="_blank"><i class="fw fw-wso2"></i> Inc</a>. All Rights Reserved.
        </p>
    </footer>
{{/zone}}