{{#zone "topCss"}}
    <style>
        .thumbnail.icon:before {
            padding-top: 0;
        }
    </style>
{{/zone}}

{{#zone "device-thumbnail"}}
    <img src="{{@unit.publicUri}}/images/drone-icon.png"/>
{{/zone}}

{{#zone "device-opetations"}}

{{/zone}}

{{#zone "device-detail-properties"}}
    <div class="media">
        <div class="media-left col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <ul class="list-group" role="tablist">
                <li class="active"><a class="list-group-item" href="#device_statistics" role="tab"
                                      data-toggle="tab" aria-controls="device_statistics">Device
                    Statistics</a>
                </li>
            </ul>
        </div>
        <div class="media-body add-padding-left-5x remove-padding-xs tab-content">
            <div class="panel-group tab-content">

                <div class="panel panel-default tab-pane active"
                     id="device_statistics" role="tabpanel" aria-labelledby="device_statistics">
                    <div class="panel-heading">Device Statistics</div>
                    {{unit "cdmf.unit.device.type.drone.realtime.analytics-view" device=device}}
                </div>
            </div>
        </div>
    </div>
{{/zone}}