{{#zone "main"}}
    <a href="javascript:toggleMoreOperations()" class="cu-btn-inner show-operations-btn hidden" id="showOperationsBtn">
                    <span class="fw-stack">
                        <i class="fw fw-right-arrow-2 fw-stack-1-5x"></i>
                    </span>
        <span class="btn-text">Operations</span>
    </a>
    <!-- operations container -->
    <div class="wr-operations">

    </div>
    <!-- /operations container -->
{{/zone}}

{{#zone "bottomJs"}}
    <script id="operations-bar" src="{{self.publicURL}}/templates/operations.hbs" type="text/x-handlebars-template" ></script>
    <script id="hidden-operations-bar-ios" src="{{self.publicURL}}/templates/hidden-operations-ios.hbs" type="text/x-handlebars-template" ></script>
    <script id="hidden-operations-bar-android" src="{{self.publicURL}}/templates/hidden-operations-android.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/operation-bar.js"></script>
{{/zone}}