<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="iot-suite-initializer">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="mobile-device-mgt-no-devices" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.iot.integration.mobileDevice.MobileDeviceManagementWithNoDevices"/>
        </classes>
    </test>
    <test name="android-enrollment" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.iot.integration.device.enrollment.AndroidEnrollment"/>
        </classes>
    </test>
    <test name="android-operation" preserve-order="false" parallel="true">
        <classes>
            <class name="org.wso2.iot.integration.device.operation.AndroidOperation"/>
        </classes>
    </test>
    <!--<test name="windows-enrollment" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.device.enrollment.WindowsEnrollment"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="android-device-mgt" preserve-order="false" parallel="true">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.device.mgt.AndroidDeviceManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="android-configuration" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.device.configuration.AndroidConfigurationManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="android-policy" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.device.policy.AndroidPolicy"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="operation-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.operation.OperationManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="mobile-device-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.mobileDevice.MobileDeviceManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="user-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.user.UserManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="role-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.role.RoleManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="policy-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.policy.PolicyManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="feature-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.feature.FeatureManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="license-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.license.LicenseManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="configuration-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.configuration.ConfigurationManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="notification-mgt" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.iot.integration.notification.NotificationManagement"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>