{{#zone "main"}}
    <div class="container col-md-12 col-lg-3 col-centered wr-content wr-login col-centered">

        <p class="page-sub-title">Login</p>
        <p>Enter your IoT Server credentials to login.</p>
        <hr />

        <!-- validation -->
        <span class="wr-validation-summary hidden">
                <p>Login failed. Check your credentials and try again.</p>
        </span>
        <form method="POST" class="form-login-box" action="{{loginPath}}">
            <label class="wr-input-label">Username</label>
            <div class="wr-input-control">
                <input name="username" type="text" value="" placeholder="Enter username"/>
            </div>

            <label class="wr-input-label">Password</label>
            <div class="wr-input-control">
                <input name="password" type="password" value="" placeholder="Enter password"/>
            </div>

            <div class="wr-input-control">
                <button class="wr-btn" onclick="document.location.href='/iotserver';">&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <button class="wr-btn" onclick="document.location.href='/iotserver';">&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>

            <div>
            Don't have account yet? click <a href="register">here</a> to create new account.
            </div>
        </form>

    </div>
{{/zone}}